/* ВЕСЬ ФИЛЬТР ПО ЦЕНТРУ */
.panel {
  width: 924px;
  margin: 84px auto 56px auto;

  display: flex;
  justify-content: center;   /* ЦЕНТРИРУЕМ */
  align-items: flex-end;
  gap: 16px;
}

/* ОБЩИЙ КОРОБ ДЛЯ ПОЛЯ */
.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.label {
  font-size: 12px;
  line-height: 16px;
  color: #8a8a89;
}

/* SELECT */
.selector {
  width: 204px;
  height: 44px;
  background: #f3f4f8;
  border-radius: 12px;

  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.arrow {
  width: 13px;
  height: 7px;
  pointer-events: none;
  transition: transform 0.2s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

/* DROPDOWN */
.drop {
  position: absolute;
  top: 100%;
  left: 0;

  width: 204px;
  max-height: 188px;
  overflow-y: auto;

  background: #fff;
  border: 1px solid #d6dbe5;
  border-radius: 12px;
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.06);

  padding: 8px 0;
  z-index: 999;
}

/* OPTIONS */
.opt {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  text-align: left;
  color: #8a8a89;
  background: none;
  border: none;
  cursor: pointer;
}

.opt:hover {
  background: #f0f3f9;
  color: #121417;
}

.active {
  background: #e0eaff;
  color: #3470ff;
}

/* MILEAGE */
.mileageBox {
  width: 320px;
  height: 44px;
  background: #f3f4f8;

  border-radius: 12px;
  display: flex;
  align-items: center;
}

.mileageItem {
  width: 50%;
  padding-left: 16px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.mlabel {
  font-size: 16px;
  color: #121417;
}

.mInput {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
}

.vLine {
  width: 1px;
  height: 44px;
  background: #d6dbe5;
}

/* BUTTON */
.searchBtn {
  width: 120px;
  height: 44px;

  border: none;
  border-radius: 12px;
  background: #3470ff;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.searchBtn:hover {
  background: #0b44cd;
}

/* Убираем стрелки у input[type="number"] — Chrome, Edge, Safari */
.mInput::-webkit-inner-spin-button,
.mInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелки у Firefox */
.mInput[type="number"] {
  -moz-appearance: textfield;
}
