.page {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px 80px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;
  margin-top: 50px;
}

.gridItem {
  list-style: none;
}

/* ERROR */
.error {
  color: red;
  margin-top: 20px;
}

/* LOAD MORE */
.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.loadMore {
  min-width: 160px;
  padding: 12px 32px;

  font-size: 16px;
  font-weight: 500;

  color: #3470ff;
  background-color: transparent;

  border: 1px solid #3470ff;
  border-radius: 12px;

  cursor: pointer;
  transition: all 0.25s ease;
}

.loadMore:hover:not(:disabled) {
  background-color: #3470ff;
  color: #ffffff;
}

.loadMore:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Адаптив */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
